/* http://meyerweb.com/eric/tools/css/reset/  */
@import url(../css/reset.css);

/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');


/************/
/* Content */
/**********/
html {font-size: 62.5%;}

body {
    background-color: #000000;
    color:  #fff;
}

.content-wrapper {
    margin: 0 auto;
    width: 95%;
}

/***********/
/* Header */
/*********/

/* Navbar */
.navbar, .navbar-no-js {
    top: 0;
    right: 0;
    left: 0;
    z-index: 99;
}

/***********/
/* Footer */
/*********/
#copyright {
    right: 0; bottom: 0; left: 0;
    z-index: 98;
}

.pointer-none {pointer-events: none;}

/************/
/* Display */
/**********/
/* Flexbox */
.flex {display: flex;display: -webkit-box;display: -webkit-flex;display: -ms-flexbox;}
  .align-center {align-items: center;  }
  .column {flex-direction: column;  }
  .row {flex-direction: row;}
  .justify-center {justify-content: center;}
  .space-between {justify-content: space-between;}
  .space-around {justify-content: space-around;}

/* Grid */
.grid {display: grid;}

/*************/
/* Position */
/***********/
.navbar, .navbar-no-js, #copyright {position: fixed;}

/***********/
/* Sizing */
/*********/
.h-100 {height: 100%;}
.w-100 {width: 100%;}
.mh-100 {max-height: 100%;}
.mw-100 {max-width: 100%;}
.h-auto {height: auto;}
.w-auto {width: auto;}

.vh-95 {height: 95vh;}
.vh-80 {height: 80vh;}
.vw-80 {width: 80vw;}
.vh-30 {height: 30vh;}
.vw-30 {width: 30vw;}

.gap-xs {gap: 1rem;}
.gap-s {gap: 2rem;}
.gap-m {gap: 4rem;}

/**********************/
/* Margin & Padding */
/******************/

/*** Margin***/
/* Margin Top 2 Rem */
.viewMore {margin-top: 4rem;}

/*** Padding ***/
.viewMore, .overlay {padding: 1rem;}
header, .logo, .menu, #copyright {padding: 2rem;}
footer {padding: 10rem;}
/* Padding x (L+R) */
/* Padding top */
#about, #email {padding-top: 4rem;}
/* Padding bottom */
#contact h4 {padding-bottom: 4rem;}
/*.viewMore p {;}*/

/*********/
/* Text */
/*******/
strong {font-weight: bold;}

/*** Generic ***/
h1, h2, h3, h4, a, #copyright {
    font-family: 'Source Code Pro', monospace; font-weight: bold;
    text-transform: uppercase; text-decoration: none;
}

h1, h2, h3, h4, #copyright, #copyright a {
    font-size: 2.45rem; letter-spacing: 0.20rem;
}

/* Back end */
ul, ol {
    font-family: 'Source Sans Pro', sans-serif; font-weight: lighter;
    font-size: 2rem;
    padding-top: 1rem; padding-bottom: 2.5rem;
}

#title h2 {padding-top: 1rem;}
#title h2, p {
    font-family: 'Source Sans Pro', sans-serif; font-weight: lighter;
    font-size: 2.35rem; letter-spacing: 0rem;
    text-transform: unset;
    line-height: 3.33rem;
}

.viewMore, #contact {text-align: center;}

/*** A Link ***/
/* Navbar */
.navbar a {border-bottom: 1px solid #00CDC0;font-size: 3rem;}
.navbar-no-js a {border-bottom: 1px solid #00CDC0;font-size: 2.45rem;}
.navbar a:hover, .navbar a:active, .navbar-no-js a:hover, .navbar-no-js a:active {background-color: #00CDC0; transition: all 0.25s ease;}

/* Title */
#title a {
    color: #ffffff;
    font-family: 'Source Sans Pro', sans-serif; font-weight: bold;
    font-size: 2.35rem; letter-spacing: 0rem;
    text-transform: unset; text-decoration: none;
    border-bottom: 1px solid #00CDC0
}

#title a:hover, #title a:active {background-color: #00CDC0; transition: all 0.25s ease;}

#contact a, .viewMore a {font-size: 2rem; letter-spacing: 0.20rem;}
.viewMore a {border-bottom: 1px solid #642DFF;}
.viewMore a:hover, .viewMore a:active {background-color: #642DFF; transition: all 0.25s ease;}

/* Copyright */
#copyright a:hover, #copyright a:active {color: #00CDC0; transition: all 0.25s ease;}

/* Button */
.button {color: #fff;border: 4px solid #fff;padding: 2rem;display: inline-block;text-decoration: none;}
.button:hover, .buttona:active {background-color: #00CDC0;border: 4px solid #642DFF;transition: all 0.25s ease;}

/***********/
/* Colors */
/*********/
.bg-primary {background-color: #642DFF;} /* Eletric indigo */
.bg-secondary {background-color: #00cdc0;} /* Medium Turquoise */
.bg-light {background-color: #fff;}
.bg-dark {background-color: #000000;}

.text-primary {color: #642DFF;}
.text-secondary {color: #00cdc0;}
.text-dark {color: #000000;}
.text-light, h1, h2, h3, h4, a, ul, ol, mark, #copyright, #copyright a, #contact, #contact a, .viewMore, .viewMore a {color: #fff;}

/* Back end */
form {
    width: 50vw;
}

.mail {
    width: 100%;
    border: none;
    margin-top: 1rem; margin-bottom: 1rem;
}

input[type="radio"] {
    margin-bottom: 2.5rem;
}

select {
    margin-bottom: 1rem;
}

label, .mail {
    font-size: 2rem;
    font-family: 'Source Sans Pro', sans-serif; font-weight: lighter;
}

/******************/
/* Media queries */
/****************/
/* Way Smaller */
@media (min-width: 320px) {

    #title {padding-bottom: 2rem;}

    header, .logo, .menu, #copyright {padding: 1rem;}

    /* Responsive */
    .about-me {flex-direction: column;}

}

/* Iphone X/XS Fix */
@media (min-width: 375px) {

    header, .logo, .menu, #copyright {padding: 2rem;}   

}

/* Extra Small */
@media (min-width: 540px) {


}

/* Small */
@media (min-width: 640px) {

    /* Responsive */

}

/* Medium */
@media (min-width: 768px) {

    /* Responsive */
    .about-me {flex-direction: unset;}

}

/* Large */
@media (min-width: 1024px) {

    #title {padding-bottom: 4rem;}

}

/* XL */
@media (min-width: 1280px) { 

}

/* XXL */
@media (min-width: 1600px) { 

}
